{% extends 'base.html' %}
{% block title %}{{ site.title }}{% endblock %}

{% block seo %}
<meta name="description" content="博文目录" />
<meta name="keywords" content="{{site.configs.keywords}}" />
{% endblock %}



{% block content %}



	<div class="article">
{% set cats = get_folders("/") %}
{% for cat in cats %}
                {% set posts = get_posts(path=cat.path) %}
                {% if posts %}
                <section class="archives"><h1 class="year">{{ cat.title | upper }}</h1>
                    {% for post in posts %}
                    <article>
                        <div class="meta">
                            <span class="date">{{ post.date | date("%Y-%m-%d") }}</span>
                            <br>
                        </div>
                        {% if post.metadata.link %}
                        <h2 class="title">[链接]<a href="{{post.metadata.link}}" target="_blank">{{ post.title }}</a></h2>
                        {% else %}
                        <h1 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
                        {% endif %}
                    </article>
                    {% endfor %}
                </section>
                {% endif %}
 {% endfor %}
    </div>


  

    {% include 'include/pagenav.html' %} 
         
       
{% endblock %}