/** created by allen zhou 2015-01-16 22:36 **/
*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    color:#555;
    line-height: 1.625;
    font-family: Helvetica,SimSun,Arial,sans-serif;
}

a{
    color:#333;
    text-decoration: none;
}

header{
    background: #f9f9f9;
    height: 150px;
    padding-top: 30px;
}

header h1{
    font-size: 26px;
    text-align: center;
    padding-bottom: 10px;
}

header h2{
    font-size: 16px;
    font-weight: normal;
    font-family: "楷体";
    text-align: center;
    padding-bottom: 10px;
}

footer{
    clear: both;
    height: 80px;
    padding-top:25px;
    border-top: 1px solid #eee;   
    font-size: 12px;
    color: #555;
    background: #f9f9f9;
}

footer a{
	border-bottom:1px dotted #444;
}

footer a:hover{
	color:#FF6600;
}

/**导航菜单**/
nav{
    min-height: 40px;
    line-height: 40px;
    font-size: 18px;
    background: #efefef; 
    box-shadow: 0px 2px 3px #cfcfcf;
    overflow-x:auto;
}

nav li{
    float: left;
    list-style: none;
    margin-right:30px;
}
nav a{
    text-decoration: none;
    color:#222;
    display: list-item;
    padding: 0 5px;
}
nav a:hover{
    color:#fff;
    background: #222;
}

/** 侧边栏 **/

aside{
    float: left;
    max-width: 300px;
    margin-left: 60px;
    padding-top: 15px;
}

.sidebar-item{
    width: 290px;
    border:0px solid #f2f2f2;
    background: #fbfbfb;
    padding:0px;
    margin-bottom: 35px;
}

.sidebar-item li{
    list-style: inside;
}


.sidebar-item h2{
    font-size: 16px;
    color: #555;    
    padding: 8px 10px;    
    border-bottom: 2px solid #FFF;
  
}

.sidebar-content{
    padding: 10px;
}

/**通用wrap**/
.wrap{
    max-width: 1000px;
    margin: auto;
}

#main-wrap{
    max-width: 1000px;
    margin: auto;
    padding-top: 40px;
}

.content{
    float: left;
    width: 650px;
    margin-bottom: 25px;
}


.article-items:last-child{
    border:none;
}

.article-items{
    padding: 15px 0;
    border-bottom: 1px dotted #eee;
    margin-bottom: 5px;
}
.article-items h2{
    font-size: 20px;
    font-weight: normal;

}
.article-items .meta{
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color:#999;
    overflow-x:auto;
}

.article-content{
    margin-top: 10px;  
}

/** 分页导航 **/
.page-nav{
    height: 40px;
    margin: 20px 0;
}
.page-nav a{
    display: block;
    background: #fff;
    padding: 2px 5px;
    border-radius: 5px;
}
.page-nav a:hover{
    background: #ccc;
    color:#222;
}

.page-nav .old{
    float: right;
}
.page-nav .new{
    float: left;
}

.social img{
    max-width: 40px;
    max-height: 40px;
}

#archive{
    margin-bottom:20px;
}

#archive li{
    list-style-position:inside;
}

/** simple markpad **/
#simple-markpad{
    font-size: 0.9em;
}
#simple-markpad img{
    width: 45px;
    height: 45px;
    margin-right: 15px;
    float: left;   
    
}

.url_btn a{
    display: inline-block;
    border-radius: 3px;
    background: #efefef;
    border:1px solid #EEE;
    padding: 2px 0px;
    margin-top:15px;
    width: 100%;
    text-align: center;
    
}
.url_btn a:hover{
    background: #222;
    color: #fff;
}

/** 搜索框 **/
#search-box input[type='text']{
    height: 26px;
    padding: 2px;
    border: 1px solid #eaeaea;
    width: 190px;
}
#search-box input[type='submit']{
    height: 30px;
    width: 60px;
    padding: 2px;
    margin-left: 5px;
    background: #efefef;
    border: 1px solid #eee;


}

/*** mobile device styles **/
@media screen and (max-width: 1015px) {
    aside {
    float:none;
    clear: left;
    max-width: 100%;
    margin: 0;
    }

    header{
    background: #f6f6f6;
    height: 100px;
    }

    nav{
    background: #eee;
    }
    nav li{
    margin-right: 4%;
    }

    footer{
    padding: 2% 2% 3% 2%;
	height:inherit;	
    }

    #main-wrap{
    padding-top: 20px;
    }

    .sidebar-item{
    width: inherit;  
    padding: 0 2%;
    background: #fff;
    box-shadow: none;
	border:none;
    }

    .sidebar-item h2{
        padding: 0;
    }
    .sidebar-content{
        padding: 0;
    }

    .nav-items{
    padding:0 2%;
    }

    .content{
    float: none;
    width: 96%;
    padding: 0 2%;    
    margin: 0;    
    } 

    #simple-markpad{
        display: none;
    }

}